OPENROUTER_API_KEY=replace-me
NEXT_PUBLIC_APP_URL=http://localhost:3000
CONTENT_SAFETY_ENABLED=true
NEXT_PUBLIC_SUPABASE_URL=https://tvpeojtagsagycyjqmys.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tKmu0sV8lUFUsszzLJvasA__-xHme1h
